body{
    background-color: rgb(250,250,250);
}

.container{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading{
    color: rgb(53, 158, 207);
    font-weight: 600;
    font-style: oblique;
    
}

.countries{
    color: rgb(35, 119, 158);
    font-weight: 700;
    font-style: oblique;
    margin-bottom: 30px;
} 

.stats{
    color: rgb(35, 119, 158);
    font-weight: 700;
    font-style: oblique;
    margin-bottom: 30px;   
}
